{% extends 'base.html' %}

{% block titulo %}
Comentarios
{% endblock %}

{% block subtitulo %}
Comentarios news
{% endblock %}

{% block info %}
A continuacion se mostraran los datos de los Comentarios
{% endblock %}

{% block blog %}
<form method="POST">
    {% csrf_token %} 
    
    
    {% if error %}
    <h2>{{error}}</h2>
    {% else %}

    <form action="#" method="POST" enctype="multipart/form-data">
    
    <div>
        <div>{{form.contenido.label}}</div>
        <div>{{form.contenido}}</div>
        

    </div>
    <div>
        <div>{{form.fecha.label}}</div>
        <div>{{form.fecha}}</div>
        

    </div>
    

    <button type = "submit" name="Enviar">Enviar</button>
    </form>
    {% endif %}
    
</form>
{% endblock %}